<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="module">
    import {Event_0_1_1} from "./event_0_1_1.js";

    new Event_0_1_1();
  </script>

  <title>checkbox</title>
</head>
<body>
<div>
  <h1>템플릿 메서드 패턴을 활용하여 중복코드 제거</h1>
  <hr/>
  <div id="init"></div>
  <hr/>
  <div id="template_act_01">
    <button id="templateAct01">templateAct01</button>
  </div>
  <hr/>
  <div id="template_act_02">
    <button id="templateAct02">templateAct02</button>
  </div>
  <hr/>
  <div id="template_act_03">
    <button id="templateAct03">templateAct03</button>
  </div>
  <hr/>
  <div id="finalize"></div>
</div>
<script>
</script>
</body>
</html>